<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class=" col-sm-4 form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="col-sm-4 form-group">
      <%= form.label :description %>
      <%= form.text_area :description , class: "form-control"%>
    </div>
  </div>
  <div class="row mb-3">
    <div class=" col-sm-4 form-group">
      <%= form.label :project_type %>
      <%= form.text_field :project_type, class: "form-control" %>
    </div>
    <div class=" col-sm-4 form-group">
      <%= form.label :start_date %>
      <%= form.date_field :start_date, class: "form-control" %>
    </div>

    <div class="col-sm-4 form-group">
      <%= form.label :end_date %>
      <%= form.date_field :end_date, class: "form-control" %>
    </div>

    
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary"%>
  </div>
<% end %>
